<!DOCTYPE html>
<html>
  <head>
      <title>Create Article</title>
  </head>
        <body>
            <form action="/news/create/" method="post">
                {% csrf_token %}
                <label for="title">Title: </label>
                <input id="title" type="text" name="title">
                <label for="text">Text: </label>
                <input id="text" type="text" name="text">
                <input type="submit" value="OK">
            </form>
        <br>
        <a href="/news/" target="_blank">Main Page</a>
        </body>
</html>
